.input-large, .input-small {
    padding: 5px 10px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.input-small {
    width: 40px;
}
.input-large {
    width: 100px;
}
table {
    border-collapse: collapse;
}
td, th {
    padding: 5px 7px;
}
tr:nth-child(odd) {
    background-color: #e6e6e6;
}